--extra-index-url https://download.pytorch.org/whl/cu128

einops
hydra-core
lightning
lion_pytorch
matplotlib
numpy
omegaconf
pandas
pytorch_lightning
Requests
scikit_learn
scipy
seaborn
torch==2.9.1+cu128
torchvision==0.24.1+cu128
torch_ema
transformers
wandb
kagglehub
onnx
onnxruntime-gpu
backtesting
